<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cogBroadcastRights">
            <h2><span>Cog Broadcast Rights</span> {{cogBroadcastRights.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Cog Id</span></dt>
                <dd>
                    <span>{{cogBroadcastRights.cogId}}</span>
                </dd>
                <dt><span>Same Code</span></dt>
                <dd>
                    <span *ngFor="let sameCode of cogBroadcastRights.sameCodes; let last = last">
                        <a [routerLink]="['/same-code', sameCode?.id, 'view' ]">{{sameCode.sameCode}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cog-broadcast-rights', cogBroadcastRights.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
